<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    试着找出一个给定的数字在最后有多少个零。
</p>

<!-- Explain input and output values -->
<p>
   <strong>输入：</strong>一个正整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>输出：</strong>一个整数 <span>{% if is_js %}(number){% else %}(int){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>例子：</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
