<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Твоя задача знайти, на яку кількість нулів закінчується передане число.
</p>

<!-- Explain input and output values -->
<p>
    <strong>Вхідні дані:</strong> Невід'ємне ціле число ({% if is_js %}number{% else %}int{% endif %}).
</p>

<p>
    <strong>Вихідні дані:</strong> Ціле число ({% if is_js %}number{% else %}int{% endif %}).
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Приклади:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
