<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Try to find out how many zeros a given number has at the end.
</p>

<p style="text-align: center;">
    <img  title="example" src="{{MEDIA}}end-zeros1.png" alt="example" style="max-height: 200px"/>
</p>
<!-- Explain input and output values -->
<p>
    <strong>Input:</strong> A non-negative integer <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
    <strong>Output:</strong> An integer <span translate="no">{% if is_js %}(number){% else %}(int){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Examples:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
