<!-- Describe task in general -->
<img src="{{MEDIA_CONVERT}}title.png" class="title_img" />
<p>
    Versuchen Sie herauszufinden, wie viele Nullen eine bestimmte Zahl am Ende hat.
</p>

<!-- Explain input and output values -->
<p>
   <strong>Eingabe:</strong> Eine nicht-negative ganze Zahl <span>{% if is_js %}(number){% else %}(int){% endif %}</span>.
</p>

<p>
   <strong>Ausgabe:</strong> Eine ganze Zahl <span>{% if is_js %}(number){% else %}(int){% endif %}</span>. 
</p>


<!-- Give some usage examples -->
<div class="for_info_only">
    <p>
        <strong>Beispiele:</strong>
    </p>

<pre class="brush: {% if is_js %}javascript{% else %}python{% endif %}">{{init_code_tmpl}}</pre>
</div>
